body {
  background: #FAFAFA;
  display: flex;
  flex-direction: row;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}
/* #b24592, #f15f79 */
nav {
  width: calc(25% - 2rem);
  border-right: 2px solid #EBEBEB;
  max-height: 100vh;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
}
nav h1 {
  margin-bottom: 0px;
}
nav sm {
  font-size: 0.8rem;
  color: #BBB;
}
nav h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #444;
  cursor: pointer;
}
nav h2:hover {
  color: #b24592;
}
nav h2.active {
  color: #b24592;
}
nav h3 {
  font-size: 1rem;
  font-weight: 100;
  margin-left: 2rem;
  color: #777;
  cursor: pointer;
}
nav h3:hover {
  color: #f15f79;
}
nav h3.active {
  color: #f15f79;
}

main {
  width: calc(75% - 2px - 4rem);
  max-height: calc(100vh - 4rem);
  overflow-y: scroll;
  padding: 2rem;
}
main h2 {
  font-size: 2rem;
  color: black;
  font-weight: 400;
  border-bottom: 2px solid #f15f79;
  padding-bottom: 0.5rem;
}
main h3 {
  font-size: 1.2rem;
  color: #444444;
  font-weight: 400;
}
main p {
  font-size: 1rem;
  color: #777777;
  font-weight: 100;
}
main .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .chat-log {
  width: 300px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
main li {
  color: #777777;
}
main code {
  color: #f15f79;
  font-size: 1.1rem;
}
